@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 100vw;
}

.openBtn{
    display: none;
}

@media (width < 500px) {
    nav {
        background-color: #ffb5e8;
        top: 0;
        display: none;
        width: 100vw;
        height: 100vh;
        position: sticky;
        z-index: 10;

    }
    header {
        z-index: -10;
    }
    .visible{
        display: block;
    }

    .hidden {
        display: none;
    }
    
    .closebtn
    {
        right: 0;
        top: 0;
    }
}